<script id="list-template" type="text/x-jsrender">
    <div class="row">
        <div class="col-3">
            <select id="algorithm-list" class="col-12">
                {{for #data.Data itemVar="~item"}}
                <option id="{{: ~item.Guid}}">{{: ~item.Name}}</option>
                {{/for}}
            </select>

        </div>

        <div id="description" class="col-9">

        </div>
    </div>


</script>

<script id="description-template" type="text/x-jsrender">
    <div class="card bg-light border">
        <div class="card-body">
            <div>Название: {{: #data.Name}}</div>
            <div>Версия: {{: #data.Version}}</div>
            <div>Описание: {{: #data.Description}}</div>
        </div>
    </div>

</script>