@{
    ViewBag.Title = "Russian ODC";
    ViewBag.IsWebpack = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/bundles/homeBundle.css" type="text/css" />

@section scripts{
    <script src="~/bundles/homeBundle.js"></script>
}

<div>Home page</div>

